
  {{#each articles}}
  <div data-_id={{this._id}} class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href={{this.link}}>{{this.title}}</a>
        <button type="button" class="btn btn-success addNote" data-toggle="modal" data-target="#noteModal"{{this._id}} data-id={{this._id}}>Add a Note</button>
      </h3>
    </div>
    <div class="card-body">{{this.excerpt}}</div>
  </div>
  {{/each}}

  <!--Clicked Notes Modal-->
{{#each articles}}
    {{> notes-modal }}
{{/each}}
